Django==1.8.2
PIL==1.1.7
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-cities==0.4.1
django-ckeditor==4.5.0
django-filter==0.11.0
django-toolbelt==0.0.1
djangorestframework==3.2.2
gunicorn==19.3.0
psycopg2==2.6.1
sorl-thumbnail==12.3
static3==0.6.1
uWSGI==2.0.11.1
wheel==0.24.0
wsgiref==0.1.2
