{% load i18n staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>

<link type="text/css" rel="stylesheet" href="{% static "lib/css/font-awesome.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "lib/css/bootstrap.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "lib/css/datepicker.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "lib/css/style.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "lib/css/jquery.nstSlider.css" %}">
<link type="text/css" rel="stylesheet" href="{% static "lib/css/jquery.bxslider.css" %}">
<!-- Favicon -->
<link rel="shortcut icon" href="lib/images/favicon.ico">

<script type="text/javascript" data-main="/static/app/main" src="{% static "lib/require-2.1.11.min.js" %}" %}"></script>

</head>
<body> 

    {% include "includes/header.html" %}

    <div id="full-page">
        <section id="home"></section>
        <div class="container-fluid" id="innerpage">
            <section class="row" id="full-banner"></section>
            <section class="row" id="about-us"></section>
            <section class="row" id="privacy-policy"></section>
            <section class="row" id="terms-and-conditions"></section>
            <section class="row" id="contact-us"></section>
        </div>
        <section id="about-us"></section>
    </div>
    <div id="two-column">
        <div class="container-fluid" id="innerpage">
            <form>
                <div class="row">
                    <div class="col-md-3">
                        <section id="cart"></section>
                        <section id="find-caterers"></section>
                    </div>
                    <div class="col-md-9">
                        <section id="banner"></section>
                        <section id="place-order"></section>
                        <section id="caterers"></section>
                        <section id="caterer"></section>
                        <section id="my-cart"></section>
                        <section id="checkout"></section>
                        <section id="profile-page"></section>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <section id="brand-carousel"></section>

    {% include "includes/footer.html" %}
    {% include "includes/modal.html" %}

</body>
</html>
