{% extends "base.html" %}

{% load i18n admin_static %}

{% block lang %}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/admin/admin.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% endblock %}

{% load i18n %}

{% block body_class %}{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}{% endblock %}

{% block header_nav %}{% endblock %}

{% block usertools %}
    {% if has_permission %}
        {% block userlinks %}
            {% if site_url %}
                <div class="btn-group">
                    <a class="btn btn-default btn-sm" href="{{ site_url }}">{% trans 'View site' %}</a>
                </div>
            {% endif %}
        {% endblock %}
    {% endif %}
    {% block nav-global %}{% endblock %}
{% endblock %}

{% block breadcrumb_container %}
{% if not is_popup %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        {% block breadcrumbs %}
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %} &rsaquo; {{ title }}{% endif %}
        {% endblock %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block main %}

    {% block messages %}
        {% for message in messages %}
        <div class="col-md-12">
            <div class="alert-square alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">
                {{ message|capfirst }}
            </div>
        </div>
        {% endfor %}
    {% endblock messages %}

    <div class="col-md-12">
        {% block content_title %}{% if title %}<h1 class="page-title">{{ title }}</h1>{% endif %}{% endblock %}
    </div>

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}

        <div class="col-md-12">
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
        </div>
        <br class="clear" />

    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
{% endblock %}
