{% if site.show_social_links or site.show_user_login %}
<div class="header-top dark">
    <div class="container">
        <div class="row">

            {% if site.show_social_links %}
            <div class="col-xs-3 col-sm-6 col-md-8">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                    <ul class="social-links circle small clearfix hidden-xs">
                        {% include "includes/social.html" %}
                    </ul>
                    <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                            <ul class="dropdown-menu dropdown-animation">
                                {% include "includes/social.html" %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- header-top-first end -->
            </div>
            {% endif %}

            {% if site.show_user_login %}
            <div class="col-xs-9 col-sm-6 col-md-4">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second" class="clearfix">

                    <!-- header top dropdowns start -->
                    <!-- ================ -->
                    <div class="header-top-dropdown text-right">
                        {% if user.is_anonymous %}
                        <div class="btn-group">
                            <a href="{% url "register" %}" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> Sign Up</a>
                        </div>

                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle btn-default btn-sm" data-toggle="dropdown"><i class="fa fa-lock pr-10"></i> Login</button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                                <li>
                                    <form action="{% url "login" %}" method="post" class="login-form margin-clear">{% csrf_token %}
                                      <div class="form-group has-feedback">
                                        <label class="control-label">Username</label>
                                        <input type="text" name="username" class="form-control" placeholder="">
                                        <i class="fa fa-user form-control-feedback"></i>
                                      </div>
                                      <div class="form-group has-feedback">
                                        <label class="control-label">Password</label>
                                        <input type="password" name="password" class="form-control" placeholder="">
                                        <i class="fa fa-lock form-control-feedback"></i>
                                      </div>
                                      <input type="hidden" name="next" value="{{ request.path }}" />
                                      <button type="submit" class="btn btn-gray btn-sm">Log In</button>
                                      <span class="pl-5 pr-5">or</span>
                                      <a href="{% url "register" %}" class="btn btn-default btn-sm">Sign Up</a>
                                      <ul>
                                        <li><a href="#">Forgot your password?</a></li>
                                      </ul>
                                      <span class="text-center">Login with</span>
                                      <ul class="social-links circle small colored clearfix">
                                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                      </ul>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        {% else %}
                        <div class="btn-group">
                            <a href="{% url "profile" user.username %}" class="btn btn-default btn-sm"><i class="fa fa-user pr-10"></i> {{ user }}</a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url "logout" %}" class="btn btn-default btn-sm"><i class="fa fa-sign-out pr-10"></i> Logout</a>
                        </div>
                        {% endif %}
                    </div>
                    <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endif %}
