<div class="col-md-12">
    <h1>Get In Touch</h1>
    <div class="contentbox" id="contactform">
        <h2>Form</h2>
        <form class="clearfix">
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" />
                </div>
            </div>    
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" />
                </div>
            </div>    
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" />
                </div>
            </div>    
            <div class="col-md-6">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile Number" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                <textarea class="form-control" rows="6" placeholder="Comments"></textarea>
                </div>
            </div>
            <div class="col-md-12 search-btn">
                <input type="submit" value="SEND" class="btn btn-warning" />
            </div>
        </form>
        <h2>Find</h2>
        <p>Kater 605, Old Ministry of Education Building, Marqab, Kuwait.</p>
        <div class="row">
            <div class="col-md-4">
                <h2>Telephone</h2>
                <p>+965.9729 0717<br />
                +965.6588 3596</p>
            </div>
            <div class="col-md-4">
                <h2>Fax</h2>
                <p>+965.9729 0717<br />
                +965.6588 3596</p>
            </div>
            <div class="col-md-4">
                <h2>Social:</h2>
                <p class="followalong">
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>
        </div> 
    </div>
    <br/><br/><br/>
</div>