<div class="row space-bottom">
    <div class="col-md-6">
        <h3>Address</h3>
        <input id="address" name="city" type="text" class="form-control" value="Whitefield, bangalore" />
    </div>
    <div class="col-md-6">
        <h3>City</h3>
        <select id="city" name="city" class="form-control"></select>
    </div>
</div>
<div class="row space-bottom">
    <div class="col-md-12">
        <h3>Select categories</h3>
        <div id="category-list"></div>
    </div>
</div>
<div class="row space-bottom hidden" id="skill-list-container">
    <div class="col-md-12 ">
        <h3>Select skills</h3>
        <div id="skill-list"></div>
    </div>
</div>
<div class="row hidden pt-10" id="home-buttons">
    <div class="col-md-12 text-center">
        <a href="/folks/" class="live btn btn-lg btn-animated btn-info">Find Folks <i class="fa fa-user pl-10"></i></a>
        <a href="/jobs/" class="live btn btn-lg btn-animated btn-warning">Find Jobs <i class="fa fa-briefcase pl-10"></i></a>
    </div>
</div>