<div class="mainContentTop tabsContent">
    <h2 class="h2Hdng">Place Order</h2> 
</div>
<div class="contentbdox">   
    <div class="celenderbox">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">                            
                <big class="hidden-xs">Select the date</big>
                <div class="dates visible-xs">
                    <a href="#" class="text-left"><i class="fa fa-angle-left"></i></a>
                    <span>April</span>
                    <a href="#" data-date-format="mm/dd/yyyy" class="text-right"><i class="fa fa-angle-right"></i></a>
                </div>
                <div class="dates visible-xs">
                    <a href="#" class="text-left"><i class="fa fa-angle-left"></i></a>
                    <span>Thur 16</span>   
                    <span>Fri 15</span>
                    <span>Sat 14</span>
                    <a href="#" data-date-format="mm/dd/yyyy" class="text-right"><i class="fa fa-angle-right"></i></a>
                </div>	
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12 hidden-xs">
                <div class="dates">
                    <a href="#" class="text-left"><i class="fa fa-angle-left"></i></a>
                    <span>April Thursday 16   &nbsp;|&nbsp;</span>   
                    <span><b>April Friday 17</b>   &nbsp;|&nbsp;</span>
                    <span>April Saturday 18</span>
                    <a href="#" data-date-format="mm/dd/yyyy" class="text-right"><i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-md-1 col-sm-1 col-xs-12"><a href="javascript:void(0);" class="chngecal"><i class="fa fa-calendar"></i></a></div>
        </div>
    </div>
</div>  
<div class="productbox"> 
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <div class="img-thumbnail">
                <img  src="/static/lib/images/cater-img.jpg"  />
            </div><br />
            <a href="#">Johnny Rockets</a>
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="col-md-10 co-sm-9">
            <div class="tags">
                <span>08:00 am - 11:00 am</span>
                <span>08:00 am - 11:00 am</span>
                <span class="active">08:00 am - 11:00 am</span>
                <span>08:00 am - 11:00 am</span>
                <span class="closed">08:00 am - 11:00 am</span>
                <span>08:00 am - 11:00 am</span>
                <span>08:00 am - 11:00 am</span>
                <span>08:00 am - 11:00 am</span>
            </div>
            <div class="bottominfo">
                <p>Note: Your serving time is <span>08:00 PM</span></p>
                <a href="#" class="btn btn-warning">order now</a>
            </div>	
        </div>
    </div>
</div>
<div id="Menu" class="Menu tab-pane">
    <div class="myMenu">
        <div class="table-responsive menudtL">
            <div class="mainmaenu clearfix">
                <div class="clearfix">
                    <div class="menImg col-md-3 col-sm-3 col-xs-12">
                        <h3 class="visible-xs">Pizza & Burgers</h3>
                        <img src="/static/lib/images/deals.png" />
                    </div>
                    <div class="menList col-md-9 col-sm-9 col-xs-12">
                        <div class="me1 col-md-9 col-sm-9 col-xs-12">
                            <h3 class="hidden-xs">Pizza & Burgers</h3>
                            <p>Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, </p>
                        </div>
                        <div class="me2 col-md-3 col-sm-3 col-xs-12">
                            <h3>79.00 KD</h3>
                            <a href="javascript:void(0)" class="me2SlctBtn">SELECT ITEMS</a>
                        </div>
                    </div>
                </div>
                <!--Menu Options-->
                <div class="menuOptions">
                    <div class="clearfix ChooseItem">
                    <h3>Please choose an item from Pizzas</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Olivers (somato sauce, mozzarella, basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Bronx Bomber (pepperoni, tomato sauce, mozzarella, fresh basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Portobello (portobello, wild mushroom puree, red onions, fontina cheese, truffle oil)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Red Sox (caramelized onions, red peppers, crumbled sausage, mozzarella, tomato sauce</label>
                        </div>
                     </div>
                </div>

                <div class="clearfix ChooseItem Burgers">
                    <h3>Please choose an item from Burgers</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Charlestown Burger (cheddar, onions, pickles, mustard, ketchup, mayo, tomatoes and lettuce)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Todds Burger Special (cheddar, crispy onions, TE special sauce, lettuce and tomato)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Spicy Jalapeño Burger (cheddar, mayo, pickled jalapeno, ranch, jalapeño ketchup)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Johnny Burger (fontina, portobello mushrooms, pommery mustard aioli, iceberg lettuce)</label>
                        </div>
                     </div>
                </div>
            </div>
            <!--Menu option END-->
            </div>
            <!--//-->
            <div class="mainmaenu clearfix">
                <div class="clearfix">
                    <div class="menImg col-md-3 col-sm-3 col-xs-12">
                        <h3 class="visible-xs">Pizza & Burgers</h3>
                        <img src="/static/lib/images/deals.png" />
                    </div>
                    <div class="menList col-md-9 col-sm-9 col-xs-12">
                        <div class="me1 col-md-9 col-sm-9 col-xs-12">
                            <h3 class="hidden-xs">Pizza & Burgers</h3>
                            <p>Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, </p>
                        </div>
                        <div class="me2 col-md-3 col-sm-3 col-xs-12">
                            <h3>79.00 KD</h3>
                            <a href="javascript:void(0)" class="me2SlctBtn">SELECT ITEMS</a>
                        </div>
                    </div>
                </div>
                <!--Menu Options-->
                <div class="menuOptions">
                    <div class="clearfix ChooseItem">
                    <h3>Please choose an item from Pizzas</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Olivers (somato sauce, mozzarella, basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Bronx Bomber (pepperoni, tomato sauce, mozzarella, fresh basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Portobello (portobello, wild mushroom puree, red onions, fontina cheese, truffle oil)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Red Sox (caramelized onions, red peppers, crumbled sausage, mozzarella, tomato sauce</label>
                        </div>
                     </div>
                </div>

                <div class="clearfix ChooseItem Burgers">
                    <h3>Please choose an item from Burgers</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Charlestown Burger (cheddar, onions, pickles, mustard, ketchup, mayo, tomatoes and lettuce)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Todds Burger Special (cheddar, crispy onions, TE special sauce, lettuce and tomato)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Spicy Jalapeño Burger (cheddar, mayo, pickled jalapeno, ranch, jalapeño ketchup)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Johnny Burger (fontina, portobello mushrooms, pommery mustard aioli, iceberg lettuce)</label>
                        </div>
                     </div>
                </div>
            </div>
            <!--Menu option END-->
            </div>
            <!--//-->
            <div class="mainmaenu clearfix">
                <div class="clearfix">
                    <div class="menImg col-md-3 col-sm-3 col-xs-12">
                        <h3 class="visible-xs">Pizza & Burgers</h3>
                        <img src="/static/lib/images/deals.png" />
                    </div>
                    <div class="menList col-md-9 col-sm-9 col-xs-12">
                        <div class="me1 col-md-9 col-sm-9 col-xs-12">
                            <h3 class="hidden-xs">Pizza & Burgers</h3>
                            <p>Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, Pizzas, Burgers, Sides, and add-ons including salads, appetisers, pastas, and desserts, </p>
                        </div>
                        <div class="me2 col-md-3 col-sm-3 col-xs-12">
                            <h3>79.00 KD</h3>
                            <a href="javascript:void(0)" class="me2SlctBtn">SELECT ITEMS</a>
                        </div>
                    </div>
                </div>
                <!--Menu Options-->
                <div class="menuOptions">
                    <div class="clearfix ChooseItem">
                    <h3>Please choose an item from Pizzas</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Olivers (somato sauce, mozzarella, basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Bronx Bomber (pepperoni, tomato sauce, mozzarella, fresh basil)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Portobello (portobello, wild mushroom puree, red onions, fontina cheese, truffle oil)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Red Sox (caramelized onions, red peppers, crumbled sausage, mozzarella, tomato sauce</label>
                        </div>
                     </div>
                </div>

                <div class="clearfix ChooseItem Burgers">
                    <h3>Please choose an item from Burgers</h3>
                    <div class="radOpt">
                         <div class="radio">
                            <label><input type="radio" name="optradio">Charlestown Burger (cheddar, onions, pickles, mustard, ketchup, mayo, tomatoes and lettuce)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Todds Burger Special (cheddar, crispy onions, TE special sauce, lettuce and tomato)</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="optradio">Spicy Jalapeño Burger (cheddar, mayo, pickled jalapeno, ranch, jalapeño ketchup)</label>
                        </div>
                         <div class="radio">
                          <label><input type="radio" name="optradio">Johnny Burger (fontina, portobello mushrooms, pommery mustard aioli, iceberg lettuce)</label>
                        </div>
                     </div>
                </div>
            </div>
            <!--Menu option END-->
            </div>
            <!--//-->

         </div>
    </div>
</div>