{% extends "base.html" %}

{% block breadcrumbs %}
<div class="breadcrumb-container">
    <div class="container">
        <ol class="breadcrumb">
            <li><i class="fa fa-home pr-10"></i><a href="{% url "index" %}">Home</a></li>
            <li class="active">Page 404</li>
        </ol>
    </div>
</div>
{% endblock %}

{% block main_container %}
<section class="main-container jumbotron light-gray-bg text-center margin-clear">
    <div class="container">
        <div class="row">
            <div class="main col-md-6 col-md-offset-3 pv-40">
                <h1 class="page-title"><span class="text-default">404</span></h1>
                <h2>Ooops! Page Not Found</h2>
                <p>The requested URL was not found on this server. Make sure that the Web site address displayed in the address bar of your browser is spelled and formatted correctly.</p>
                <form role="search">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" placeholder="Search">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
                <a href="{% url "index" %}" class="btn btn-default btn-animated btn-lg">Return Home <i class="fa fa-home"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}