<div id="loginModal" class="modal fade">
            
    <div class="modal-dialog">

        <div class="modal-content"> 
            <div class="modal-body createpopup">

             <ul class="nav nav-tabs" role="tablist" id="myTab">
              <li role="presentation" class="active"><a href="#login-tab" aria-controls="login-tab" role="tab" data-toggle="tab">Login</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li> 
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="login-tab">
                <form class="loginForm clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm usernameInput" placeholder="User Name" />
                        </div>
                    </div>      
                    <div class="col-md-6">
                        <div class="controllink"><a href="#">Forgot username ?</a></div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="password" class="form-control input-sm passwordInput" placeholder="Password" />
                        </div>
                    </div>              
                    <div class="col-md-6">
                        <div class="controllink"><a href="#">Forgot password ?</a></div>
                    </div>   
                    <div class="col-md-6 search-btn">
                        <input type="submit" value="LOGIN" class="btn btn-warning" />
                    </div>
                    <div class="col-md-12 loginError alert alert-warning hidden"></div>
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="profile">
                <form class="registerForm clearfix">
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm firstNameInput" placeholder="First Name" />
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm lastNameInput" placeholder="Last Name" />
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm emailInput" placeholder="Email" />
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm mobileNumberInput" placeholder="Mobile Number" />
                        </div>
                    </div>              
                    <div class="col-md-12">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm streetAddressInput" placeholder="Street Address" />
                        </div>
                    </div>    
                    <div class="col-md-12">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm streetAddress2Input" placeholder="Street Address (optional)" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <select class="form-control" id="area-select2" name="Area" style="color:#a2a2a2;">                                  
                                <option value="">Select Area</option>
                            </select>
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="text" class="form-control input-sm usernameInput2" placeholder="Username" />
                        </div>
                    </div>    
                    <div class="col-md-6">
                        <div class="form-group">
                        <input type="password" class="form-control input-sm passwordInput2" placeholder="Password" />
                        </div>
                    </div>
                    <div class="col-md-12 search-btn">
                        <button class="btn btn-warning" type="submit">CREATE MY ACCOUNT</button>
                    </div>
                    <div class="col-md-12 registerError alert alert-warning hidden"></div>
                </form>
              </div> 
            </div>

            </div>
 
        </div>

    </div>
</div>

