{% if site.twitter_page %}<li class="twitter"><a target="_blank" href="{{ site.twitter_page }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
{% if site.googleplus_page %}<li class="googleplus"><a target="_blank" href="{{ site.googleplus_page }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
{% if site.youtube_page %}<li class="youtube"><a target="_blank" href="{{ site.youtube_page }}"><i class="fa fa-youtube-play"></i></a></li>{% endif %}
{% if site.facebook_page %}<li class="facebook"><a target="_blank" href="{{ site.facebook_page }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
